[tool.poetry]
name = "@pname@"
version = "@version@"
description = "@desc@"
authors = [ @authors@ ]
readme = "README.md"
homepage = "@homepage@"
packages = [{include = "@package@"}]

[tool.poetry.dependencies]
python = "^@pythonMajorMinorVersion@"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
